<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="localDb" value="Data Source=(localdb)\ProjectsV13;Initial Catalog=OSIM.Dev;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True"/>
  </appSettings>
</configuration>
